:root {
    --extra-bold: 800;
    --bold: 600;
    --medium: 500;
    --button-background-secondary: #666CA3;
    --primary: #13183F;
    --body: #83869A;
    --link: #F74780;
    --link-hover: #FFA7C3;
    --surface-primary: #FFFFFF;
    --surface-secondary: #F0F2FF;
    --radius-none: 0px;
    --radius-xsm: 4px;
    --radius-sm: 8px;
    --radius: 12px;
    --radius-md: 16px;
    --radius-lg: 20px;
    --radius-xl: 24px;
    --radius-2xl: 28px;
    --radius-3xl: 32px;
    --card-border-radius: var(--radius-md);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: auto;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    color: var(--link);
    font-size: 18px;
    line-height: 28px;
    font-weight: var(--bold);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: var(--extra-bold);
    margin: 0;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: var(--extra-bold);
}

h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: var(--extra-bold);
}

.bodyM {
    font-size: 18px;
    line-height: 28px;
    color: var(--body);
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: var(--bold);
    border-style: none;
    border-radius: 28px;
    padding: 14px 32px;
}

.button-primary {
    background-color: var(--primary);
    color: var(--surface-primary);
}

.button-primary:hover {
    background-color: var(--button-background-secondary);
    color: var(--surface-primary);
}

.button-gradient1 {
    color: var(--surface-primary);
    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
}


.button-gradient2 {
    color: var(--surface-primary);
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}


.button-gradient1:hover {
    color: var(--surface-primary);
    background: linear-gradient(180deg, #FFB7A4 0%, #F895D2 100%);
}


.button-gradient2:hover {
    color: var(--surface-primary);
    background: linear-gradient(180deg, #C2A1EF 0%, #F795D3 100%);
}


.card {
    display: inline-block;
    position: relative;
    box-shadow: rgba(6, 22, 141, 0.04) 0px 25px 50px 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: var(--card-border-radius);
    padding: 64px 32px 40px;
    background-color: var(--surface-primary);
}

.card-gradient {
    color: var(--surface-primary);
    box-shadow: none;
    background: linear-gradient(rgb(255, 111, 72) 0%, rgb(240, 42, 166) 100%);
}

.card-body>h4 {
    margin-bottom: 24px;
}

.card-body>p {
    height: 124px;
}

.icon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -24px;
}

.presentation img:nth-child(1){
    content: url('../assets/image-hero-desktop.webp');
}

@media (max-width: 375px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
        padding: 16px;
        height: 120px;
    }


    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 38px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 26px;
        height: auto;
    }

    .presentation img:nth-child(1){
        content: url('../assets/image-hero-mobile.webp');
        
    }
    

    .presentation div:nth-child(2) {
        width: auto;
    }


    #content-presentation {
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }

    #content-presentation>p {
        width: auto;
        height: auto;
        margin-top: 29px;
        margin-bottom: 40px;
    }

    #features {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--surface-secondary);
        padding: 0px 40px 86px;
    }

    .grid-features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}


@media (min-width: 376px) and (max-width: 1440px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-left: 40px;
        padding-right: 40px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
        padding-left: 40px;
        padding-right: 40px;
        height: 120px;
    }


    .presentation {
        display: flex;
        flex-direction: row;
        padding-top: 185.57px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 226px;
        height: 419px;
    }

    .presentation img:nth-child(1){
        position: absolute;
        top: 200.13px;
        left: 390px;
        z-index: -1;
        width: 80%;
        height: 80%;
    }

    .presentation div:nth-child(2) {
        width: 50%;
    }


    #content-presentation {
        width: 50%;
        height: auto;
        margin-bottom: 0px;
    }

    #content-presentation>p {
        width: auto;
        height: 84px;
        margin-top: 29px;
        margin-bottom: 40px;
    }

    #features {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--surface-secondary);
        padding: 0px 40px 86px;
    }

    .grid-features {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 350px);
        column-gap: 30px;
        row-gap: 80px;
        margin-top: 24px;
    }
}


@media (min-width: 1441px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-left: 165px;
        padding-right: 165px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
        padding-left: 165px;
        padding-right: 165px;
        height: 120px;
    }


    .presentation {
        display: flex;
        flex-direction: row;
        padding-top: 185.57px;
        padding-left: 165px;
        padding-right: 165px;
        padding-bottom: 226px;
        height: 419px;
    }

    .presentation img:nth-child(1){
        position: absolute;
        top: -146.13px;
        left: 784px;
        z-index: -1;
        width: 991.63px;
        height: 936.92px;
    }

    

    .presentation div:nth-child(2) {
        width: 70%;
    }


    #content-presentation {
        width: 30%;
        height: auto;
        margin-bottom: 0px;
    }

    #content-presentation>p {
        width: 445px;
        height: 84px;
        margin-top: 29px;
        margin-bottom: 40px;
    }

    #features {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--surface-secondary);
        padding: 0px 165px 140px;
    }

    .grid-features {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 350px);
        column-gap: 30px;
        row-gap: 80px;
        margin-top: 24px;
    }

}